@page  "/leaderboard"
@using System.Threading
@inject GameService gameService;
<h1>Leader Board</h1>

@if (status.IsStarted)
{
    <h2>Game has started!</h2>
    <p>Computing @status.NumberGenerations generations</p>
}

@code {
    protected override void OnInitialized()
    {
        refresh();
        var timer = new Timer(new TimerCallback(_ =>
        {
            InvokeAsync(refresh);
        }), state: null, dueTime: 1_000, period: 1_000);
    }

    GameStatus status;

    void refresh()
    {
        status = gameService.GetGameStatus();
    }
}
