@page "/StartGame"
@using System.Threading
@using System.Text.Json
@using Contest.Shared

@inject GameService game
@inject NavigationManager NavManager

<h1>Start Game</h1>

<div>
    <label>Number of generations to compute</label><br />
    <input type="text" @bind="NumGenerations" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-primary" @onclick="begin">Start Game</button>

    <p>@SerializedBoard()</p>

    <h3>Configure Board</h3>
    <div>
        @for(int h = Height; h > 0; h--)
        {
            <div class = "row">
                @for(int w = 1; w <= Width; w++)
                {
                    var row = h;
                    var column = w;
                    if(@RowOrColumnIsZero(row, column))
                    {
                        <input type="checkbox" disabled >
                    }
                    else
                    {
                        <input type="checkbox"
                            @bind-value="StartingBoard[row, column]"
                            @bind-value:event="oninput">
                    }
                }
            </div>
        }
    </div>
</div>

@code {
    private JsonSerializerOptions options;

    protected override void OnInitialized()
    {
        StartingBoard = new bool[Height+1, Width+1];
    }

    public string SeedBoard { get; set; }
    public int NumGenerations { get; set; }
    public static int Width = 60;
    public static int Height = 40;
    public bool[,] StartingBoard { get; set; }

    public int computedRow(int row)
    {
        return row - ( Height / 2 );
    }
    public int computedColumn(int column)
    {
        return column - ( Width / 2 );
    }

    public string SerializedBoard()
    {
        IEnumerable<Coordinate> coordinates = new Coordinate[] {};
        for(int h = 1; h <= Height; h++)
        {
            for(int w = 1; w <= Width; w++)
            {
                coordinates = StartingBoard[h,w]
                    ? coordinates.Append(new Coordinate(computedRow(h), computedColumn(w)))
                    : coordinates;
            }
        }
        var result = JsonSerializer.Serialize(coordinates);
        return result;
    }

    public bool RowOrColumnIsZero(int row, int column)
    {
        bool rowIsZero = computedRow(row) == 0;
        bool columnIsZero = computedColumn(column) == 0;
        return rowIsZero || columnIsZero;
    }

    public void begin()
    {
        //serialize board
        IEnumerable<Coordinate> board;
        try
        {
            board = JsonSerializer.Deserialize<IEnumerable<Coordinate>>(SerializedBoard());

            game.StartGame(board, NumGenerations);
        }
        catch
        {
            //ModelState.AddModelError(nameof(SeedBoard), "Unable to parse seed board.");
        }
        NavManager.NavigateTo("/");
    }
}
